@import normalize.css
@import boilerplate.css
@import fonts.css
@import compass/css3/transform
@import compass/css3/border-radius

$background-gray: #f1f2f1
$green: #99C755
$dark_green: #79a735
$pink: #e5546a
$header_content_width: 70%
$header_width: 25%

html
  font-family: 'Museo' sans-serif
  height: 100%
  padding: 0px
  margin: 0px

body
  min-height: 100%
  padding: 0px
  margin: 0px
  color: #8a8b8a
  text-align: center
  background-color: white

a
  color: #8a8b8a
  text-decoration: none

a:visited
  color: #8a8b8a
  text-decoration: none

a:hover
  text-decoration: none

a.current
  text-decoration: none

.logo, .logo:hover
  text-decoration: none

.light-gray
  color: #c1c2c1

.pink, a.pink
  color: $pink

.green
  color: $green

.header_column
  position: fixed
  height: 100%
  width: $header_width
  background: white url("../img/mlodziez.png") no-repeat center 370px
  overflow: hidden
  @media screen and (max-width: 500px)
    height: 80%
    position: absolute
    width: 100%
    background: white url("../img/mlodziez.png") no-repeat center 240px

  .top_text
    margin-top: 1.7em
    font-size: 16px
    @media screen and (max-width: 500px)
      visibility: hidden
  .logo
    width: $header_content_width
    font-size: 100px
    margin-top: 40px
    margin-bottom: 10px
    @media screen and (max-width: 500px)
      margin-top: -50px
      margin-bottom: 0px

.business_motto
  font-size: 18px
  margin: 10px auto -30px
  width: $header_content_width
  text-align: justify

.business_motto:after
  content: ""
  display: inline-block
  width: 100%

.business_motto_languages
  font-size: 22px
  margin-left: auto
  margin-right: auto
  text-align: justify
  width: $header_content_width

.business_motto_languages:after
  content: ""
  display: inline-block
  width: 100%

.facebook_button
  width: 10%
  position: absolute
  bottom: 5%
  left: 48%
  @media screen and (max-width: 1000px)
    width: 20%
    left: 42%
  @media screen and (max-width: 500px)
    width: 10%
    left: 48%

h4
  font-size: 22px
  margin: 6px

p
  margin: 3px
  padding: 0px

.content
  text-align: left
  margin-left: $header_width
  background-color: white
  border-left: 1px solid #f1f2f1
  padding: 1px 20px 100px
  @media screen and (max-width: 500px)
    left: 0%
    width: 100%
    top: 80%
    position: absolute
    margin-left: 0px

  .logo
    width: 135px
    margin-top: -10px

  h1, h2, h3
    font-weight: normal

  h1
    font-size: 60px
    margin-top: 20px
    margin-bottom: 5px
    .back
      float: right
      font-size: 25px
  h2
    margin-top: 5px
  h3
    margin-top: 25px
  p, form, table
    margin: 0px 0px 10px 0px
    font-size: 16px
    .cite
      font-style: italic

  table
    width: 100%
    border-collapse: collapse
    td, th
      padding: 3px 5px
      width: 20%
  table, th, td
    border: 1px solid #f1f2f1
  th
    font-weight: normal
  form
    div
      padding: 5px 0px
    label
      float: left
      width: 250px
    input
      width: 300px
    textarea
      width: 300px
    .button
      margin-left: 250px
      width: 100px
      padding: 10px 16px
      font-size: 18px
      line-height: 1.33
      +border-radius(6px)
      color: #fff
      background-color: $green
      display: inline-block
      margin-bottom: 0
      text-align: center
      white-space: nowrap
      vertical-align: middle
      cursor: pointer
      background-image: none
      border: 1px solid transparent
      border-color: $dark_green

.tiles
  position: absolute
  left: $header_width
  height: 100%
  width: 75%
  @media screen and (max-width: 500px)
    left: 0%
    width: 100%
    top: 80%

  a
    display: block
    width: 33%
    height: 33%
    @media screen and (max-width: 1000px)
      width: 49%
    @media screen and (max-width: 500px)
      width: 100%

    float: left
    border-left: 1px solid $background-gray
    border-bottom: 1px solid $background-gray
    text-align: center
    font-size: 20px
    line-height: 1
    position: relative
    overflow: hidden

    .text
      width: 100%
      height: 100%
      display: table

      span
        padding: 30%
        display: table-cell
        vertical-align: middle

    &#idea
      background: url("../img/rece.png") white no-repeat center bottom
      background-size: auto 70%
      transition: all 1s

      .text span
        transition: all 1s

      &:hover
        background-size: auto 100%

        .text span
          padding-top: 10%
          padding-bottom: 50%

    &#news
      .text span
        transition: all 1s

      .questionmark_1
        position: absolute
        width: 200%
        height: 200%
        top: -50%
        left: -50%
        z-index: -2
        background: url("../img/pytania.png") white no-repeat
        transition: all 1s
        background-size: 150px 150px
        background-position: 63% 45%
        @include transform(rotate(30deg))

      .questionmark_2
        position: absolute
        width: 200%
        height: 200%
        top: -50%
        left: -50%
        z-index: -1
        background: url("../img/pytania.png") transparent no-repeat
        transition: all 1s
        background-size: 150px 150px
        background-position: 61% 43%
        @include transform(rotate(210deg))

      &:hover
        .text span
          @include transform(rotate(10deg))
          background-size: 75%
        .questionmark_1
          @include transform(rotate(40deg))
          background-size: 180px 180px
          background-position: 64% 45%
        .questionmark_2
          @include transform(rotate(220deg))
          background-size: 180px 180px
          background-position: 62% 43%

    &#pricing
      background: url("../img/moneta.png") white no-repeat
      background-position: -220px bottom
      transition: all 1s
      background-size: 100%

      .text span
        transition: all 1s

      &:hover
        background-position: 0px bottom
        background-size: 50%

        .text span
          padding-top: 10%
          padding-bottom: 50%
          padding-right: 0%
          padding-left: 60%

    &#adults
      position: relative
      overflow: hidden

      .text span
        transition: all 1s

      &:before
        content: ""
        position: absolute
        width: 200%
        height: 200%
        top: 20%
        left: 20%
        z-index: -1
        background: url("../img/dorosli.png") white no-repeat
        transition: all 1s
        background-position: center center
        @include transform(rotate(-30deg))

      &:hover
        .text span
          padding-top: 10%
          padding-bottom: 50%
          padding-right: 0%
          padding-left: 60%
        &:before
          top: 0%
          left: -50%
          @include transform(rotate(0deg))

    &#kids
      position: relative
      overflow: hidden

      .text span
        transition: all 1s

        .rotator
          display: block
          transition: all 1s

      &:before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: -2
        background: url("../img/dzieci_chlopiec.png") white no-repeat
        transition: all 1s
        background-position: left bottom
        background-size: 50%

      &:after
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: -1
        background: url("../img/dzieci_dziewczynka.png") transparent no-repeat
        transition: all 1s
        background-position: right bottom
        background-size: 60%

      &:hover
        .text span
          padding-top: 10%
          padding-bottom: 50%
          padding-right: 25%
          padding-left: 35%
          .rotator
            @include transform(rotate(710deg))
        &:before
          background-size: 65%
        &:after
          background-size: 65%

    &#signup
      &:before
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 30%
        right: -70%
        z-index: -2
        background: url("../img/zapisy.png") white no-repeat
        background-size: 80%
        transition: all 1s ease-out

      .text span
        transition: all 1s ease-out

      &:hover
        &:before
          top: 5%
          right: -10%

        .text span
          padding-top: 5%
          padding-bottom: 55%
          padding-right: 0%
          padding-left: 60%

    &#teachers
      background: url("../img/lektor.png") white no-repeat
      transition: all 1s
      background-position: -40px 80px

      .text span
        transition: all 1s

      &:hover
        background-position: 20px 20px

        .text span
          padding-top: 10%
          padding-bottom: 50%
          padding-right: 0%
          padding-left: 60%


    &#gallery
      &:before
        content: ""
        position: absolute
        width: 200%
        height: 200%
        top: -50%
        left: -50%
        z-index: -2
        background: url("../img/aparat.png") white no-repeat
        transition: all 1s
        background-position: 220px 240px
        background-size: 15%

      .text span
        transition: all 1s

      &:hover
        &:before
          background-size: 100%
          background-position: -50px 150px
          @include transform(rotate(30deg))

        .text span
          padding-right: 0%
          padding-left: 60%

    &#contact
      background: url("../img/telefon.png") white no-repeat
      background-position: center 65%
      background-size: 300%
      transition: all 1s

      .text span
        transition: all 1s

      &:hover
        background-position: center 65%
        background-size: 100%

        .text span
          padding-top: 15%
          padding-bottom: 45%
