.content
  %h1
    .back
      %a.pink{href: '/'} < powrót
    aktualności
    = image_tag('img/logo.png', alt: 'scool', class: 'logo')

  %h3 promocja na otwarcie filii
  %p
    %span.green 10% rabatu na pierwszą wpłatę
    przy zapisie do 20 września
