.content
  %h1
    .back
      %a.pink{:href => '/'} < wróć
    aktualności

  %h3 promocja na otwarcie filii
  %p
    %span.green 10% rabatu na&nbsp;pierwszą wpłatę
    przy zapisie do&nbsp;20&nbsp;września
