.content
  %h1
    .back
      %a.pink{href: '/'} < powrót
    aktualności
    = image_tag('img/logo.png', alt: 'scool', class: 'logo')

  %h2 promocja na otwarcie filii

  %p 10% rabatu na pierwszą wpłatę
  przy zapisie do 20 września
