.content
  %h1
    .back
      %a.pink{:href => '/'} < wróć
    cennik

  %p
    Cenniki zajęć prowadzonych
    %span.green w Szkołach Podstawowych i&nbsp;Gimnazjach
    są&nbsp;indywidualnie negocjowane z&nbsp;każdą placówką i&nbsp;dostępne na&nbsp;miejscu w&nbsp;każdej szkole.


  %h3
    Cennik kursów w&nbsp;roku szkolnym 2014/2015 –&nbsp;filia
    %span.green Smulsko
    (Retkinia), filia
    %span.green Olechów
    (Widzew)
  %p Ceny uzależniamy od&nbsp;wielkości grup i&nbsp;wybranej intensywności zajęć. Zależnie od&nbsp;wieku proces nauki przebiega różnie, dlatego dla młodszych dzieci proponujemy inną liczebność grup niż dla młodzieży czy dorosłych.
  
  %h3.green Przedszkole i&nbsp;szkoła podstawowa
  %p
    Dzieci uczą się w&nbsp;grupach 8&nbsp;-&nbsp;12&nbsp;osób, co&nbsp;zapewnia odpowiednią dynamikę pracy, a&nbsp;jednocześnie daje im&nbsp;możliwość pracy w tej samej grupie przez wszystkie lata nauki.
    %a.pink{:href => 'dzieci.html'} Więcej...

  %table
    %tr
      %th{:rowspan => 2} rodzaj kursu
      %th{:rowspan => 2} wymiar/tyg
      %th{:rowspan => 2} liczba godzin lekcyjnych /semestr
      %th{:colspan => 2} ceny za semestr
    %tr
      %th
        płatność jednorazowa
        %br
        I sem. do 12 X
        %br
        II sem. do 22 II
      %th
        płatność w 2 ratach
        %br
        I sem. do 12 X i 12 XII
        %br
        II sem. do 22 II i 12 IV
    %tr
      %td
        Przedszkole
      %td
        2x30 minut
      %td
        30 spotkań
      %td
        280 PLN
      %td
        2x150 PLN
    %tr
      %td
        Szkoła podstawowa
      %td
        2x60 minut
      %td
        40
      %td
        560 PLN
      %td
        2x290 PLN
    %tr
      %td
        Have Fun
        %br
        Disfruta Espanol
        %br
        (6-9 lat)
        %a.pink{:href => 'dzieci.html'} Więcej...
      %td{:rowspan => 2}
        1x60 minut
      %td{:rowspan => 2}
        20
      %td{:rowspan => 2}
        280 PLN
      %td{:rowspan => 2}
        2x150 PLN
    %tr
      %td
        Speak English
        %br
        Habla Espanol
        %br
        (9-12 lat)
        %a.pink{:href => 'dzieci.html'} Więcej...

  %table
    %tr
      %td
        zajęcia indywidualne
      %td
        1 osoba – 60 PLN/godz
      %td
        2 osoby – 40 PLN/godz
      %td
        3 osoby – 30 PLN/godz

  %h3.green w cenie kursu:
  %ul
    %li imprezy okolicznościowe (np.: dzień angielski, dzień hiszpański, Halloween, St.&nbsp;Patrick’s&nbsp;Day, Mother’s&nbsp;Day)
    %li przedstawienia dla rodziców
    %li konkursy z nagrodami
    %li zajęcia dla rodzica pokazujące jak wspierać swoje dziecko w nauce
    %li dodatkowe zajęcia indywidualne w przypadku choroby (powyżej 2&nbsp;tygodni nieobecności na&nbsp;zajęciach)
    %li dostęp do biblioteki dodatkowych oryginalnych materiałów językowych (bajki i&nbsp;książki odpowiednie do&nbsp;poziomu zaawansowania języka obcego)
    %li 20% zniżki na&nbsp;zakup podręczników
  
  %h3.green Gimnazjum i&nbsp;liceum /Dorośli
  %p Młodzież i&nbsp;dorośli pracują w grupach 5&nbsp;-&nbsp;8&nbsp;osób, co&nbsp;pozwala dokładnie dopasować kurs do&nbsp;poziomu zaawansowania i&nbsp;daje uczniom możliwość nauki w&nbsp;swojej grupie wiekowej.
  %table
    %tr
      %th{:rowspan => 2} rodzaj kursu
      %th{:rowspan => 2} wymiar/tyg.
      %th{:rowspan => 2} liczba godzin lekcyjnych /semestr
      %th{:colspan => 2} ceny za semestr
    %tr
      %th
        płatność jednorazowa
        %br
        I sem. do 12 X
        %br
        II sem. do 22 II
      %th
        płatność w 2 ratach
        %br
        I sem. do 12 X i 12 XII
        %br
        II sem. do 22 II i 12 IV
    %tr
      %td Standardowy
      %td 1x90 minut
      %td 30
      %td 470 PLN
      %td 2x250 PLN
    %tr
      %td Intensywny
      %td{:rowspan => 2} 2x90 minut
      %td{:rowspan => 2} 60
      %td{:rowspan => 2} 900 PLN
      %td{:rowspan => 2} 2x460 PLN
    %tr
      %td FCE
    %tr
      %td Konwersacje
      %td 1x90 minut
      %td 30
      %td 470 PLN
      %td 2x250 PLN
    %tr
      %td Sobotni*
      %td 1x135 minut
      %td 45
      %td 765 PLN
      %td 2x390 PLN
    %tr
      %td Egzamin gimnazjalny
      %td 1x90 minut
      %td
        I sem. – 30
        %br
        II sem – 16
      %td
        I sem. – 470 PLN
        %br
        II sem. – 250 PLN
      %td 2x250 PLN
    %tr
      %td Matura – poziom podstawowy
      %td 1x90 minut
      %td
        I sem. – 30
        %br
        II sem – 20
      %td
        I sem. – 470 PLN
        %br
        II sem. – 310 PLN
      %td 2x250 PLN
    %tr
      %td Matura – poziom rozszerzony
      %td 2x90 minut
      %td
        I sem. – 60
        %br
        II sem – 40
      %td
        I sem. – 900 PLN
        %br
        II sem. – 600 PLN
      %td
        2x460 PLN
        %br
        2x310 PLN
  %p *&nbsp;zależnie od&nbsp;utworzonych grup są&nbsp;to&nbsp;kursy na&nbsp;poziomach A1-B2 lub egzaminacyjne (w&nbsp;przypadku kursów egzaminacyjnych w&nbsp;drugim semestrze wymiar zajęć to&nbsp;4x45min)

  %table
    %tr
      %td
        zajęcia indywidualne
      %td
        1 osoba – 60 PLN/godz
      %td
        2 osoby – 40 PLN/godz
      %td
        3 osoby – 30 PLN/godz

  %h3.green w cenie kursu:
  %ul
    %li dodatkowe zajęcia indywidualne w przypadku choroby (powyżej 2&nbsp;tygodni nieobecności na&nbsp;zajęciach)
    %li dostęp do&nbsp;biblioteki dodatkowych oryginalnych materiałów językowych (czasopisma, książki odpowiednie do&nbsp;poziomu zaawansowania języka obcego)
    %li dostęp do&nbsp;biblioteki metodycznej (gramatyki, dodatkowe ćwiczenia)
    %li 20%&nbsp;zniżki na&nbsp;zakup podręczników

  %h3.green Prosimy o dokonywanie płatności na konto:
  %p mBank, Bankowość Detaliczna BRE Banku SA:
  %p 29 1140 2004 0000 3902 3552 0638
  %p SCOOL Kursy Językowe Katarzyna Kędziora
  %p ul. Legionów 76/10
  %p 90-762 Łódź

  %h3.green Tytuł przelewu:
  %p Bardzo prosimy, żeby każdy przelew zawierał następujące informacje:
  %ol
    %li Imię i&nbsp;nazwisko ucznia
    %li Filia i&nbsp;nazwa kursu lub nr&nbsp;szkoły i&nbsp;klasa
    %li Zaznaczenie okresu, za&nbsp;który dokonywana jest płatność

  %h3 Przykłady:
  %ul
    %li Zosia Nowak, Olechów, Matura podstawowa, I&nbsp;semestr, 2.&nbsp;Rata
    %li Jacek Kowalski, SP&nbsp;64, klasa&nbsp;III, II&nbsp;semestr
