.content
  %h1
    .back
      %a.pink{:href => '/'} < powrót
    dzieci

  %p Bazując na wieloletnim doświadczeniu, dopasowaliśmy czas trwania zajęć do wieku uczniów i ich potrzeb, dzięki czemu nasze kursy są „skrojone na miarę”.
  %p Przy zapisie dzieci nie piszą testu sprawdzającego poziom zaawansowania języka obcego. Doświadczenie nauczyło nas, że przez stres, jego wyniki są zwykle niemiarodajne.  Grupy tworzymy w oparciu o wiek uczestników. Zwykle w grupie są tylko dzieci w tym samym wieku (np. z klasy II). Maksymalna różnica wieku dzieci w grupie to 2 lata (jeżeli pozwala na to poziom języka ucznia, co zawsze ustalamy z rodzicem i weryfikujemy w pierwszych tygodniach zajęć).

  %h3.green
    W cenie każdego kursu:
  %ul
    %li imprezy okolicznościowe (np.: dzień angielski, dzień hiszpański, Halloween, St. Patrick’s Day, Mother’s Day)
    %li przedstawienia dla rodziców
    %li konkursy z nagrodami
    %li zajęcia dla rodzica pokazujące jak wspierać swoje dziecko w nauce
    %li dodatkowe zajęcia indywidualne w przypadku choroby (powyżej 2 tygodni nieobecności na zajęciach)
    %li dostęp do biblioteki dodatkowych oryginalnych materiałów językowych (bajki i książki odpowiednie do poziomu zaawansowania języka obcego)
    %li 20% zniżki na zakup podręczników

  %h3.green Przedszkole i Szkoła podstawowa
  %p Dzieci uczą się w grupach od 8 do 12 osób, co zapewnia odpowiednią dynamikę pracy, a jednocześnie daje im możliwość pracy w tej samej grupie przez wszystkie lata nauki. Dziecko w grupie większej, o wyrównanym poziomie uczy się więcej niż w grupie małej o często zmieniającym się składzie. Grupy dziecięce uczą się z nami przez wiele lat – od szkoły podstawowej nawet do matury.

  %h3.green Have Fun / Disfruta Espanol
  %p Uczniowie klas I-III uczą się języka przez gry i zabawy. Są to zajęcia językowo-ruchowe, na których dzieci odgrywają scenki, śpiewają i uczą się naturalnie reagować w sytuacjach codziennych. Program kursu jest oparty na materiałach autorskich, dzieci pracują bez podręczników.

  %h3.green Speak English / Habla Espańol
  %p Konwersacje dla uczniów klas IV – VI prowadzone w języku obcym, na materiałach autorskich, bez podręczników.
