.content
  %h1
    .back
      %a.pink{:href => '/'} < wróć
    dzieci

  %p Bazując na&nbsp;wieloletnim doświadczeniu, dopasowaliśmy czas trwania zajęć do&nbsp;wieku uczniów i&nbsp;ich potrzeb, dzięki czemu nasze kursy są&nbsp;„skrojone na miarę”.
  %p Przy zapisie dzieci nie piszą testu sprawdzającego poziom zaawansowania języka obcego. Doświadczenie nauczyło nas, że&nbsp;przez stres, jego wyniki są&nbsp;zwykle niemiarodajne. Grupy tworzymy w&nbsp;oparciu o&nbsp;wiek uczestników. Zwykle w&nbsp;grupie są&nbsp;tylko dzieci w&nbsp;tym samym wieku (np.&nbsp;z&nbsp;klasy&nbsp;II). Maksymalna różnica wieku dzieci w&nbsp;grupie to&nbsp;2&nbsp;lata (jeżeli pozwala na&nbsp;to&nbsp;poziom języka ucznia, co&nbsp;zawsze ustalamy z&nbsp;rodzicem&nbsp;i&nbsp;weryfikujemy w&nbsp;pierwszych tygodniach zajęć).

  %h3.green
    W&nbsp;cenie każdego kursu:
  %ul
    %li imprezy okolicznościowe (np.: dzień angielski, dzień hiszpański, Halloween, St.&nbsp;Patrick’s&nbsp;Day, Mother’s&nbsp;Day)
    %li przedstawienia dla rodziców
    %li konkursy z nagrodami
    %li zajęcia dla rodzica pokazujące jak wspierać swoje dziecko w&nbsp;nauce
    %li dodatkowe zajęcia indywidualne w&nbsp;przypadku choroby (powyżej 2&nbsp;tygodni nieobecności na&nbsp;zajęciach)
    %li dostęp do biblioteki dodatkowych oryginalnych materiałów językowych (bajki i&nbsp;książki odpowiednie do&nbsp;poziomu zaawansowania języka obcego)
    %li 20%&nbsp;zniżki na&nbsp;zakup podręczników

  %h3.green Przedszkole i&nbsp;szkoła podstawowa
  %p Dzieci uczą się w&nbsp;grupach od&nbsp;8 do&nbsp;12&nbsp;osób, co&nbsp;zapewnia odpowiednią dynamikę pracy, a&nbsp;jednocześnie daje im&nbsp;możliwość pracy w&nbsp;tej samej grupie przez wszystkie lata nauki. Dziecko w&nbsp;grupie większej, o&nbsp;wyrównanym poziomie uczy się więcej niż w&nbsp;grupie małej o&nbsp;często zmieniającym się składzie. Grupy dziecięce uczą się z&nbsp;nami przez wiele lat – od&nbsp;szkoły podstawowej nawet do&nbsp;matury.

  %h3.green Have Fun / Disfruta Espanol
  %p Uczniowie klas I&nbsp;-&nbsp;III uczą się języka przez gry i&nbsp;zabawy. Są&nbsp;to&nbsp;zajęcia językowo-ruchowe, na&nbsp;których dzieci odgrywają scenki, śpiewają i&nbsp;uczą się naturalnie reagować w&nbsp;sytuacjach codziennych. Program kursu jest oparty na&nbsp;materiałach autorskich, dzieci pracują bez podręczników.

  %h3.green Speak English / Habla Espańol
  %p Konwersacje dla uczniów klas IV&nbsp;–&nbsp;VI prowadzone w&nbsp;języku obcym, na&nbsp;materiałach autorskich, bez&nbsp;podręczników.
