.content
  %h1
    .back
      %a.pink{href: '/'} < powrót
    idea
    %span.logo
      %span.green<> s
      %span.pink<> c
      %span.green<> ool

  %h2 dobra szkoła językowa blisko domu

  %p
    scool istnieje od 2001 roku. Od początku chcieliśmy, żeby uczeń mógł korzystać z naszych zajęć w swojej szkole lub blisko domu. Zajęcia odbywają się w różnych szkołach na terenie Łodzi, a w tym roku, w związku z utrudnieniami komunikacyjnymi w centrum miasta, otwieramy dwie filie stacjonarne –
    %span.green SMULSKO
    (Retkinia) i
    %span.green OLECHÓW
    (Widzew).


  %h3
    scool
    %span.green filie
    \– nowe możliwości
  %p Nowe filie dają nam możliwość ożywienia i uatrakcyjnienia życia szkoły. 
  %p Wszyscy uczniowie scool będą mogli brać udział w przedstawieniach, konkursach ogólnoszkolnych i imprezach okolicznościowych (np.: dzień angielski, dzień hiszpański, Halloween, St. Patrick’s Day, Mother’s Day).
  %p Uczniowie scool mogą też korzystać z biblioteki dodatkowych oryginalnych materiałów językowych (bajki, czasopisma i książki odpowiednie do poziomu zaawansowania języka obcego) oraz  biblioteki metodycznej (gramatyki, dodatkowe ćwiczenia).

  %h3
    scool
    %span.green grupy
  %p
    Bazując na wieloletnim doświadczeniu dopasowaliśmy czas trwania zajęć do wieku uczniów i ich potrzeb, dzięki czemu nasze kursy są „skrojone na miarę”. Dzieci uczą się z nami przez wiele lat. W 2011 roku cieszyliśmy się z maturalnych sukcesów uczniów, którzy uczyli się w scool od 8 roku życia! Młodzież i dorośli mogą korzystać z intensywnych kursów nastawionych na konkretne potrzeby (egzaminy, konwersacje, przygotowanie do wyjazdów zagranicznych, itd.). Więcej w zakładkach
    %a.pink{href: 'dieci.html'} dzieci
    oraz
    = succeed('.') do
      %a.pink{href: 'dieci.html'} dorośli i młodzież

  %h3
    scool
    %span.green metody
  %p
    Uczymy
    = succeed('.') do
      %span.green naturalną metodą komunikacyjną
    Od początku mówimy na zajęciach w języku obcym. W grupach początkujących lektor używa prostego języka z dużą ilością powtórzeń, co jest zbliżone do przyswajania języka ojczystego. Dzięki metodom Total Body Response i Drama (ruch, scenki, przedstawienia) uczniowie są aktywni i szybciej się uczą.
  %p
    Każdy uczeń dwa razy w semestrze otrzymuje
    = succeed(',') do
      %span.green raport postępów w nauce
    co zwiększa motywację i pozwala wcześnie zauważyć, na których umiejętnościach warto się skupić. W przypadku grup dziecięcych jesteśmy w stałym kontakcie z rodzicami.
  %p
    Dla uczniów którzy opuścili ponad dwa tygodnie zajęć z powodu choroby proponujemy
    = succeed('.') do
      %span.green bezpłatne dodatkowe zajęcia indywidualne

  %h3
    scool
    %span.green lektorzy
    i scool
    %span.green rodzice
  %p Nasi lektorzy lubią uczyć, a pomagają im scool metodycy, czuwający nad poziomem i dynamiką zajęć.
  %p Rodzice mogą na początku roku szkolnego skorzystać z bezpłatnych zajęć pokazujących jak wspierać swoje dzieci w nauce oraz czuwać nad odrabianiem prac domowych i przygotowaniami do testów.

  %h3
    scool
    %span.green motto - Learn for love….
  %p Nauka języka rozwija zainteresowanie innymi kulturami i tolerancję, budzi miłość do języków, ludzi i świata.
  %p.end
    %span.cite Ile znasz języków, tyle razy jesteś człowiekiem.
    \– J. W. Goethe
