.tiles
  %a#idea{:href => 'idea.html'}
    .text
      %span
        idea
        %br
        scool

  %a#news{:href => 'aktualnosci.html'}
    .questionmark_1
    .questionmark_2
    .text
      %span
        aktualności

  %a#pricing{:href => 'cennik.html'}
    .text
      %span
        cennik

  %a#adults{:href => 'mlodziezidorosli.html'}
    .text
      %span
        młodzież
        %br
        i dorośli

  %a#kids{:href => 'dzieci.html'}
    .text
      %span
        .rotator
          dzieci

  %a#signup{:href => 'zapisy.html'}
    .text
      %span
        zapisy

  %a#teachers{:href => 'lektorzy.html'}
    .text
      %span
        lektorzy

  %a#gallery{:href => 'galeria.html'}
    .text
      %span
        galeria

  %a#contact{:href => 'kontakt.html'}
    .text
      %span
        kontakt
