.header_column
  %p.top_text.light-gray learn for love...
  %h1.business_name
    %span.green<> s
    %span.pink<> c
    %span.green<> ool
  %p.business_motto
    szkoła językowa blisko domu
  %p.business_motto_languages
    %span.green angielski
    i
    %span.pink hiszpański
.content_column
  #idea.tile
    %a{:href => "idea.html"}
      idea
      %br
      scool
  #groups.tile
    %a{:href => "aktualnosci.html"}
    %h4 aktualności
  #pricing.tile
    %a{:href => "cennik.html"}
    %h4 cennik
  #lectors.tile
    %a{:href => "dorosli_mlodziez.html"}
    %h4 dorośli i młodzież
  #signup.tile
    %a{:href => "dzieci.html"}
    %h4 dzieci
  #contact.tile
    %a{:href => "zapisy.html"}
    %h4 zapisy
  #news.tile
    %a{:href => "lektorzy.html"}
    %h4 lektorzy
  #social.tile
    %a{:href => "galeria.html"}
    %h4 galeria