.header_column
  %p.top_text.light-gray learn for love...
  %h1.business_name
    %span.green<> s
    %span.pink<> c
    %span.green<> ool
  %p.business_motto
    szkoła językowa blisko domu
  %p.business_motto_languages
    %span.green angielski
    i
    %span.pink hiszpański
.tiles
  .tile
    %a#idea{href: 'idea.html'}
      .text
        idea
        %br
        scool
  .tile
    %a#news{href: 'aktualnosci.html'}
      .text
        aktualności
  .tile
    %a#pricing{href: 'cennik.html'}
      .text
        cennik
  .tile
    %a#adults{href: 'dorosli.html'}
      .text
        młodzież
        %br
        i dorośli
  .tile
    %a#kids{href: 'dzieci.html'}
      .text
        %span
          dzieci
