.header_column
  %p.top_text.light-gray learn for love...
  %h1.business_name
    %span.green<> s
    %span.pink<> c
    %span.green<> ool
  %p.business_motto
    szkoła językowa blisko domu
  %p.business_motto_languages
    %span.green angielski
    i
    %span.pink hiszpański
.tiles
  %a#idea{href: 'idea.html'}
    .text
      idea
      %br
      scool

  %a#news{href: 'aktualnosci.html'}
    .text
      aktualności

  %a#pricing{href: 'cennik.html'}
    .text
      cennik

  %a#adults{href: 'dorosli.html'}
    .text
      młodzież
      %br
      i dorośli

  %a#kids{href: 'dzieci.html'}
    .text
      %span
        dzieci

  %a#signup{href: 'zapisy.html'}
    .text
      %span
        zapisy

  %a#teachers{href: 'lektorzy.html'}
    .text
      %span
        lektorzy

  %a#gallery{href: 'galeria.html'}
    .text
      %span
        galeria
