.content
  %h1
    .back
      %a.pink{:href => '/'} < powrót
    kontakt

  %h3.green informacje i zapisy:
  %p
    telefon: 
    %span.green 512 170 070
  %p 
    web:
    %a{:href => 'http://scool.edu.pl'} scool.edu.pl
  %p
    w sprawach pilnych:
    %span.green 609 606 951

  %h3.green Filie stacjonarne:
  %p
    %span.green SMULSKO
    (Retkinia)
  %p ul. Slalomowa 25, wejście od ul. Smulskiej przy przedszkolu Mi Mundo
  %p Mapa
  %p
    %span.green OLECHÓW
    (Widzew)
  %p ul. Wojewódzkiego 30 B, przy przedszkolu Kolorowe Kredki
  %p Mapa

  %h3.green Napisz do nas:
  %p email: scool@scool.edu.pl
  %p lub
  %form{:action => 'MAILTO:ketak@example.com', :method => 'post', :enctype => 'text/plain'}
    %div
      %label{:for => 'Imie i nazwisko'} Imię i nazwisko:
      %input{:type => 'text', :name => 'Imie i nazwisko'}
    %div
      %label{:for => 'Filia/szkoła'} Filia/szkoła:
      %input{:type => 'text', :name => 'Filia/szkola'}
    %div
      %label{:for => 'Nr kontaktowy'} Nr kontaktowy:
      %input{:type => 'text', :name => 'Nr kontaktowy'}
    %div
      %label{:for => 'Adres e-mail'} Adres e-mail:
      %input{:type => 'text', :name => 'Adres e-mail'}
    %div
      %label{:for => 'Tresc zapytania'} Treść zapytania:
      %textarea{:name => 'Tresc zapytania', :rows => 5}
    %div
      %input.button{:type => 'submit', :value => 'Wyślij'}

  %h3.green Prosimy o dokonywanie płatności na konto:
  %p mBank, Bankowość Detaliczna BRE Banku SA:
  %p 29 1140 2004 0000 3902 3552 0638
  %p SCOOL Kursy Językowe Katarzyna Kędziora
  %p ul. Legionów 76/10
  %p 90-762 Łódź

  %h3.green Tytuł przelewu:
  %p Bardzo prosimy, żeby każdy przelew zawierał następujące informacje:
  %ol
    %li Imię i nazwisko ucznia
    %li Filia i nazwa kursu lub nr szkoły i klasa
    %li Zaznaczenie okresu, za który dokonywana jest płatność

  %h3.green Przykłady:
  %p Zosia Nowak, Olechów, Matura podstawowa, I semestr, 2. Rata
  %p Jacek Kowalski, SP 64, klasa III, II semestr