.content
  %h1
    .back
      %a.pink{href: '/'} < powrót
    dorośli i młodzież

  %p Bazując na wieloletnim doświadczeniu, dopasowaliśmy czas trwania zajęć do wieku uczniów i ich potrzeb, dzięki czemu nasze kursy są „skrojone na miarę”.

  %p Młodzież i dorośli uczą się w grupach wiekowych liczących od 5 do 8 osób. Zapewniamy więcej czasu na ćwiczenie tych sprawności językowych, które są często zaniedbywane w szkołach lub w dużych grupach (konwersacje, słuchanie). Uczniowie mogą bezpłatnie korzystać z dodatkowych oryginalnych materiałów językowych (np. książki odpowiednie do poziomu zaawansowania, czasopisma).

  %h3.green Konwersacje
  %p Kurs dla tych, którzy chcą przełamać barierę mówienia w języku obcym, czyli:
  %ul
    %li wyjeżdżających za granicę do pracy lub na wakacje
    %li wracających do języka po długiej przerwie
    %li potrzebujących języka obcego w pracy

  %h3.green Kursy sobotnie
  %p Najczęściej w sobotę uczą się gimnazjaliści, licealiści i zapracowani dorośli. Wymiar zajęć to 3x45 minut plus 10 minut przerwy. Zależnie od utworzonych grup są to kursy standardowe lub egzaminacyjne (w przypadku kursów egzaminacyjnych w drugim semestrze wymiar zajęć to 4x45min).

  %h3.green Egzaminy – gimnazjalny, matura, FCE
  %p Grupy egzaminacyjne liczą od 5 do 8 osób i pracują w trybie intensywnym. Czas trwania kursu to 2- 4 semestry. Uczniowie mają dostęp do oryginalnych testów egzaminacyjnych. Mała grupa daje więcej możliwości indywidualnej pracy z lektorem i dużo czasu na ćwiczenie wypowiedzi ustnych. Istnieje możliwość utworzenia grup egzaminacyjnych w soboty.

  %h3.green Zajęcia indywidualne dla 1, 2 lub 3 osób
  %p Na zajęciach indywidualnych najważniejsze są potrzeby uczniów. Dlatego program może być modyfikowany w trakcie roku na prośbę uczestników. Cena zależy od ilości osób w grupie.

  %h3.green W cenie kursu:
  %ul
    %li dodatkowe zajęcia indywidualne w przypadku choroby (powyżej 2 tygodni nieobecności na zajęciach)
    %li dostęp do biblioteki dodatkowych oryginalnych materiałów językowych (czasopisma, książki odpowiednie do poziomu zaawansowania języka obcego)
    %li dostęp do biblioteki metodycznej (gramatyki, dodatkowe ćwiczenia)
    %li 20% zniżki na zakup podręczników
