.content
  %h1
    .back
      %a.pink{:href => '/'} < wróć
    dorośli i&nbsp;młodzież

  %p Bazując na&nbsp;wieloletnim doświadczeniu, dopasowaliśmy czas trwania zajęć do&nbsp;wieku uczniów i&nbsp;ich potrzeb, dzięki czemu nasze kursy są&nbsp;„skrojone na&nbsp;miarę”.

  %p Młodzież i&nbsp;dorośli uczą się w&nbsp;grupach wiekowych liczących od&nbsp;5& do&nbsp;8&nbsp;osób. Zapewniamy więcej czasu na&nbsp;ćwiczenie tych sprawności językowych, które są&nbsp;często zaniedbywane w&nbsp;szkołach lub w&nbsp;dużych grupach (konwersacje, słuchanie). Uczniowie mogą bezpłatnie korzystać z&nbsp;dodatkowych oryginalnych materiałów językowych (np. książki odpowiednie do poziomu zaawansowania, czasopisma).

  %h3.green Konwersacje
  %p Kurs dla tych, którzy chcą przełamać barierę mówienia w&nbsp;języku obcym, czyli:
  %ul
    %li wyjeżdżających za&nbsp;granicę do&nbsp;pracy lub na&nbsp;wakacje
    %li wracających do&nbsp;języka po&nbsp;długiej przerwie
    %li potrzebujących języka obcego w&nbsp;pracy

  %h3.green Kursy sobotnie
  %p Najczęściej w&nbsp;sobotę uczą się gimnazjaliści, licealiści i&nbsp;zapracowani dorośli. Wymiar zajęć to&nbsp;3x45 minut plus 10&nbsp;minut przerwy. Zależnie od&nbsp;utworzonych grup są&nbsp;to&nbsp;kursy standardowe lub egzaminacyjne (w&nbsp;przypadku kursów egzaminacyjnych w&nbsp;drugim semestrze wymiar zajęć to&nbsp;4x45min).

  %h3.green Egzaminy – gimnazjalny, matura, FCE
  %p Grupy egzaminacyjne liczą od&nbsp;5 do&nbsp;8&nbsp;osób i&nbsp;pracują w trybie intensywnym. Czas trwania kursu to 2&nbsp;-&nbsp;4&nbsp;semestry. Uczniowie mają dostęp do&nbsp;oryginalnych testów egzaminacyjnych. Mała grupa daje więcej możliwości indywidualnej pracy z&nbsp;lektorem i&nbsp;dużo czasu na&nbsp;ćwiczenie wypowiedzi ustnych. Istnieje możliwość utworzenia grup egzaminacyjnych w&nbsp;soboty.

  %h3.green Zajęcia indywidualne dla 1,&nbsp;2&nbsp;lub&nbsp;3&nbsp;osób
  %p Na&nbsp;zajęciach indywidualnych najważniejsze są&nbsp;potrzeby uczniów. Dlatego program może być modyfikowany w&nbsp;trakcie roku na&nbsp;prośbę uczestników. Cena zależy od&nbsp;ilości osób w&nbsp;grupie.

  %h3.green W&nbsp;cenie kursu:
  %ul
    %li dodatkowe zajęcia indywidualne w&nbsp;przypadku choroby (powyżej 2&nbsp;tygodni nieobecności na&nbsp;zajęciach)
    %li dostęp do&nbsp;biblioteki dodatkowych oryginalnych materiałów językowych (czasopisma, książki odpowiednie do&nbsp;poziomu zaawansowania języka obcego)
    %li dostęp do&nbsp;biblioteki metodycznej (gramatyki, dodatkowe ćwiczenia)
    %li 20%&nbsp;zniżki na&nbsp;zakup podręczników
