.content
  %h1
    .back
      %a.pink{href: '/'} < powrót
    zapisy i informacje
    = image_tag('img/logo.png', alt: 'scool', class: 'logo')

  %p
    nr kontaktowe:
    = succeed(',') do
      %span.green 502 86 92 85
    %span.green 609 606 951

  %h3 formularz zapisu
  %p 
    Wypełnienie formularza jest wstępną deklaracją udziału w kursie. Umowa uczestnictwa w kursie będzie można podpisać przed pierwszymi zajęciami. Po otrzymaniu wypełnionego formularza skontaktujemy się z Państwem telefonicznie.
  %form{action:"MAILTO:ketak@example.com", method:"post", enctype:"text/plain"}
    Imię i nazwisko ucznia:
    %br
    %input{type:"text", name:"name"}
    %br
    Wiek/klasa:
    %br
    %input{type:"text", name:"age"}
    %br
    Filia/szkoła:
    %br
    %input{type:"text", name:"school"}
    %br
    Nr kontaktowy:
    %br
    %input{type:"text", name:"phone"}
    %br
    Adres e-mail:
    %br
    %input{type:"text", name:"address"}
    %br
    Rodzaj kursu (patrz cennik):
    %br
    %input{type:"text", name:"type"}
    %br
    Uwagi:
    %br
    %input{type:"text", name:"comments"}
    %br
    %input{type:"submit", value:"Wyślij"}

  %p Zajęcia z młodzieżą i dorosłymi zaczynamy od testu sprawdzającego poziom zaawansowania języka obcego.
  %p.end Przy zapisie dzieci nie piszą testu sprawdzającego poziom zaawansowania języka obcego. Doświadczenie nauczyło nas, że przez stres, jego wyniki są zwykle niemiarodajne.  Grupy tworzymy w oparciu o wiek uczestników. Zwykle w grupie są tylko dzieci w tym samym wieku (np. z klasy II). Maksymalna różnica wieku dzieci w grupie to 2 lata (jeżeli pozwala na to poziom języka ucznia, co zawsze ustalamy z rodzicem i weryfikujemy w pierwszych tygodniach zajęć).